.td_main{
    background: #E6E6E6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.td_side{
    background: #FFFF99;
}
.from_td_user_info{
    color: green;
}
.form_character_info{
    color: orange;
}
h1{
    color: red;
}
h2{
    background-color: #fff;
}