body {
    font: 400 15px  Arial, sans-serif;
}

.lawn {
    background-color: hsl(120, 58%, 33%);
}

.terrace {
    background-color: hsl(28, 32%, 66%);
}

.dining {
    background-color: hsl(0, 80%, 90%);
}

.kitchen {
    background-color: hsl(51, 80%, 90%);
}

.storage {
    background-color: hsl(102, 80%, 90%);
} 

.bathroom {
    background-color: hsl(204, 80%, 90%);
} 

.hall {
    background-color: hsl(255, 80%, 90%);
}

.entry {
    background-color: hsl(153, 80%, 90%);
}

.guest {
    background-color: hsl(306, 80%, 90%);

    max-width: 500px;
    border-radius: 0 80px 0 0;
    flex-grow: 1;

    border-top: 10px solid black;
    border-right: 10px solid black;
}

.garage {  
    background-color: hsl(0, 0%, 90%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
.terrace__rooms{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
}
.lawn, .dining, .kitchen, .storage, .bathroom, .hall, .entry, .guest, .garage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dining{
    width: 100%;
    height: 100%;
    flex: 2 2 auto;

    border-left: 10px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
.kitchen{
    height: 100%;
    width: 75%;
    flex: 3 3 auto;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}
.terrace{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 30% 0 30% 30%;
}
.terrace__pillars{
    left: 30px;
    top: 0;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.terrace__pillars div{
    border: 10px solid black;
}
.garage, .entry{
    height: 200px;
}
.entry{
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
}
.garage{
    border-top: 10px solid #000;
    position: relative;
}
.cars{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
    flex-wrap: wrap;
}
.spot{
    flex: 0 0 145px;
    padding: 30px;
    height: 100%;
}
.car{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px 30px 20px 20px;
}
.flat{
    height: 100%;
    width: 100%;
    background-color: green;
    padding: 4%;
    display: flex;
}
.flat__centre_part{
    max-width: 280px;
}
.flat___left_part, .flat__centre_part, .flat__right_part{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}
.flat___left_part{
    flex: 2 2 auto;
}
.flat__right_part{
    padding-top: 3%;
    flex: 3 3 auto;
}
.centre__up{
    display: flex;
    flex-direction: row;
}
.storage{
    flex: 3.5 3.5 auto;

    border-left: 10px solid black;
    border-top: 10px solid black;
    border-right: 10px solid black;
} 
.bathroom{
    flex: 6.5 6.5 auto;

    border-top: 10px solid black;
    border-right: 10px solid black;
}
.hall{
    flex: 4 4 auto;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
}
.centre__up{
    flex: 3 3 auto;
}

.measurable{
    position: relative;
}

.size{
    position: absolute;
    background-color: #000;
    border-radius: 0 0 5px 5px;
    padding: 4px;
    color: #fff;
    display: none;
}
.measurable:hover>.size{
    display: block;
}
.size-x {
    top: 0;
    left: 50%;
}
.size-y{
    top: 50%;
    left: 0;
    transform-origin: top left; transform: rotateZ(-90deg) translate(-50%, 0);
}

.garage-pillars{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.garage-pillar{
    background-color: #000;
} 
.garage-pillar-top{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
}
.garage-pillar-bottom-1, .garage-pillar-bottom-2{
    position: absolute;
    bottom: 0;
    width: 10px;
}
.garage-pillar-bottom-1{
    right: 10px;
    height: 10px;
}
.garage-pillar-bottom-2{
    height: 20px;
    right: 0;
}